@import "~node_modules/modern-normalize/modern-normalize.css";
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 10;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms linear, visibility 250ms linear;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #000000;
  background-color: #FFFFFF;
  letter-spacing: 0.03em;
  font-size: 14px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  margin-top: 0;
  margin-bottom: 0;
  display: block;
}

button {
  font-size: 100%;
  border: 0;
  padding: 0;
}

.header {
  background-image: url(/src/images/abstract-background-with-red-lines\ 1.jpg);
  background-size: 100% 320px;
  max-width: 100%;
  height: 320px;
  background-repeat: no-repeat;
  opacity: 0.9;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  padding: 40px 20px 92px 20px;
}

.logo {
  display: flex;
  text-indent: -9999px;
}
@media screen and (min-width: 480px) {
  .logo {
    text-indent: 0px;
    align-items: center;
  }
}

.mob-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mob-navigation__buttons {
  display: flex;
  gap: 40px;
}
.mob-navigation__item {
  position: relative;
}

.mob-navigation__wrap {
  background-image: url(/src/images/film.svg);
  width: 22px;
  height: 22px;
  background-size: cover;
}

.mob-navigation__icon {
  width: 40px;
  height: 20px;
  stroke: 0;
}

.search-form {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 280px;
  width: 100%;
  border: transparent;
  outline: none;
}
@media screen and (min-width: 768px) {
  .search-form {
    max-width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .search-form {
    max-width: 394px;
  }
}
@media screen and (max-width: 767px) {
  .search-form {
    margin-top: 130px;
  }
}
.search-form__input {
  border-bottom: 0.5px solid rgb(255, 255, 255);
  border: white;
  border-bottom: 0.5px solid rgb(255, 255, 255);
  border-bottom-color: rgb(255, 255, 255);
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  outline: none;
  width: 100%;
  background-color: transparent;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: white;
}
.search-form__input::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: white;
}
.search-form__input:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: white;
}
.search-form__input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: white;
}
.search-form__button {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 4px;
  left: 96%;
  right: 20px;
  background-image: url(/src/images/search\ 2.svg);
  border: transparent;
  background-color: transparent;
}

.mob-navigation__main {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.1666666667;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-left: 10px;
}

.mob-navigation__link {
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1666666667;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.mob-navigation__link--current::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background-color: #ff001b;
}

.icon-main {
  fill: currentColor;
  width: 30px;
  height: 30px;
}

.open-auth-dropdown {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: baseline;
}

.authentication_box {
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  transform: translate(-50%);
  visibility: visible;
  background-color: rgba(0, 0, 0, 0);
  transition: opacity 0.35s linear, visibility 0.25s linear;
  width: 60px;
}
.authentication_box.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.authentication__button {
  cursor: pointer;
  background: none;
  fill: #ff6b01;
  transition: transform 0.25s linear, visibility 0.25s linear, fill 0.35s linear;
}
.authentication__button:hover {
  transform: scale(1.1);
  fill: #000;
}

.sign-up__button {
  cursor: pointer;
  border-radius: 5px;
  background-color: #ff6b01;
  color: #fff;
  padding: 5px 5px;
  transition: transform 0.25s linear, visibility 0.25s linear;
}
.sign-up__button:hover {
  transform: scale(1.1);
}

.login__button {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 5px;
  background-color: #ff6b01;
  color: #fff;
  transition: transform 0.25s linear, visibility 0.25s linear;
}
.login__button:hover {
  transform: scale(1.1);
}

.user-name {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-weight: 500;
  color: #ff6b01;
}

.logout {
  cursor: pointer;
  fill: #ff6b01;
  transition: transform 0.25s linear, visibility 0.25s linear, fill 0.35s linear;
}
.logout:hover {
  transform: scale(1.1);
  fill: #000;
}

.login-modal {
  padding: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.9);
}
@media screen and (max-width: 767px) {
  .login-modal {
    top: 35%;
    padding: 50px;
  }
}
@media screen and (max-width: 479px) {
  .login-modal {
    padding: 30px;
  }
}

.login__title {
  color: #fff;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.close-login__button {
  position: absolute;
  cursor: pointer;
  background: none;
  top: 10px;
  right: 10px;
  fill: #fff;
  transition: transform 0.25s linear, visibility 0.25s linear, fill 0.35s linear;
}
.close-login__button:hover {
  transform: scale(1.1);
  fill: #ff6b01;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login-form input {
  width: 320px;
  height: 40px;
}
@media screen and (max-width: 767px) {
  .login-form input {
    max-width: 250px;
    height: 40px;
  }
}

.login-form button {
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  width: 152px;
  height: 44px;
  background: #ff6b01;
  color: #fff;
  transition: transform 0.25s linear, visibility 0.25s linear, fill 0.35s linear;
}
.login-form button:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 767px) {
  .login-form button {
    max-width: 110px;
    height: 30px;
  }
}

.sign-up__modal {
  padding: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.9);
}
@media screen and (max-width: 767px) {
  .sign-up__modal {
    top: 40%;
    padding: 50px;
  }
}
@media screen and (max-width: 479px) {
  .sign-up__modal {
    padding: 30px;
  }
}

.sign-up__title {
  color: #fff;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.close__button {
  position: absolute;
  cursor: pointer;
  background: none;
  top: 10px;
  right: 10px;
  fill: #fff;
  transition: transform 0.25s linear, visibility 0.25s linear, fill 0.35s linear;
}
.close__button:hover {
  transform: scale(1.1);
  fill: #ff6b01;
}

.sing-up__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.sing-up__form input {
  width: 320px;
  height: 40px;
}
@media screen and (max-width: 767px) {
  .sing-up__form input {
    max-width: 250px;
    height: 40px;
  }
}

.sing-up__form button {
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  width: 152px;
  height: 44px;
  background: #ff6b01;
  color: #fff;
  transition: transform 0.25s linear, visibility 0.25s linear, fill 0.35s linear;
}
.sing-up__form button:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 767px) {
  .sing-up__form button {
    max-width: 110px;
    height: 30px;
  }
}

.gallery__container {
  padding-top: 20px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .gallery__container {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .gallery__list {
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__list {
    gap: 16px;
  }
}

.photo__card {
  display: block;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .photo__card {
    width: calc((100% - 32px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .photo__card {
    width: calc((100% - 32px) / 3);
  }
}

.movie__image {
  border-radius: 5px;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 768px) {
  .movie__image {
    max-width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .movie__image {
    max-width: 395px;
  }
}

.movie__info {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .movie__info {
    padding-top: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .movie__info {
    padding-bottom: 16px;
    padding-top: 12px;
  }
}

.movie__title,
.movie__genre,
.movie__year {
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
}
@media screen and (min-width: 768px) {
  .movie__title,
.movie__genre,
.movie__year {
    line-height: 1.33;
  }
}
@media screen and (min-width: 1280px) {
  .movie__title,
.movie__genre,
.movie__year {
    font-size: 20px;
    line-height: 1.2;
  }
}

.movie__title {
  text-transform: uppercase;
  color: #000000;
}

.movie__details {
  display: flex;
  gap: 4px;
}
@media screen and (min-width: 768px) {
  .movie__details {
    gap: 7px;
  }
}

.movie__genre,
.movie__year {
  color: #FF6B08;
}

.movie__year {
  border-left: 1px solid #FF6B08;
  padding: 0px 4px;
}
@media screen and (min-width: 768px) {
  .movie__year {
    padding: 0px 7px;
  }
}

.footer {
  background-color: #F7F7F7;
  padding-top: 29px;
  padding-bottom: 29px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    gap: 6px;
  }
}

.footer__link {
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
}

.footer__copyright,
.footer__link {
  display: inline;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #545454;
  transition: color 300ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .footer__copyright,
.footer__link {
    font-size: 16px;
    line-height: 1.875;
  }
}

.footer__link:hover,
.footer__link:focus {
  color: #FF6B08;
}

.copyright__text {
  padding: 0px 5px;
  border-left: 1px solid #545454;
  border-right: 1px solid #545454;
}
@media screen and (min-width: 768px) {
  .copyright__text {
    padding: 0px 6px;
  }
}

.heart {
  display: inline-block;
  color: #FF6B08;
  transition-property: color, transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  padding: 0px 5px;
}
.heart:hover, .heart:focus {
  transform: scale(1.5);
  color: #FF001B;
}

.backdrop {
  position: fixed;
  overflow: auto;
  top: 0;
  width: 100%;
  height: calc(100% + 38px);
  background-color: #5f5f5f;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(0);
}

.modal-window {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 48px;
  padding-bottom: 40px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%) scale(1);
  width: calc(100% - 40px);
  min-height: 100%;
  background-color: white;
  transition: transform 250ms linear;
}
@media screen and (min-width: 480px) {
  .modal-window {
    width: 440px;
  }
}
@media screen and (min-width: 768px) {
  .modal-window {
    padding-top: 40px;
    padding-left: 36px;
    padding-right: 72px;
    top: 219px;
    width: 704px;
    min-height: 552px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-window {
    padding-left: 12px;
    padding-right: 12px;
    top: 150px;
    width: 806px;
    min-height: 558px;
  }
}
.modal-window-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: white;
  cursor: pointer;
}

.icon-close {
  width: 30px;
  height: 30px;
  fill: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms linear;
}
.modal-window-close:hover .icon-close, .modal-window-close:focus .icon-close {
  fill: #FF6B08;
}

.modal-wrap {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .modal-wrap {
    flex-wrap: nowrap;
    -moz-column-gap: 68px;
         column-gap: 68px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-wrap {
    flex-wrap: nowrap;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}

.modal-img-wrap {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .modal-img-wrap {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .modal-img-wrap {
    width: 375px;
    height: 478px;
  }
}

.modal-image {
  display: block;
  width: 240px;
  min-height: 357px;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .modal-image {
    width: 264px;
    min-height: 374px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-image {
    width: 375px;
    min-height: 478px;
  }
}

.modal-info {
  width: 100%;
}
@media screen and (min-width: 1280px) {
  .modal-info {
    width: 391px;
  }
}

.modal-info-name {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
}
@media screen and (min-width: 1280px) {
  .modal-info-name {
    font-size: 30px;
    line-height: 1.17;
  }
}

.modal-info-list {
  position: relative;
  margin-bottom: 20px;
}

.modal-info-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
}
.modal-info-item:not(:last-child) {
  margin-bottom: 8px;
}

.modal-info-value {
  position: absolute;
  left: 108px;
  color: #000000;
}

.modal-info-value-vote {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 3px;
  width: 36px;
  height: 16px;
  background-color: #ff6b01;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  color: #FFFFFF;
}

.modal-info-value-votes {
  margin-left: 3px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  color: #000000;
}

.modal-info-pre-about {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #000000;
}

.modal-info-about {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  height: 260px;
  overflow-y: scroll;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .modal-info-about {
    height: 236px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-info-about {
    height: 160px;
  }
}

.btn-modal-wrap {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media screen and (min-width: 768px) {
  .btn-modal-wrap {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}

.modal-btn {
  width: 110px;
  height: 44px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .modal-btn {
    width: 126px;
  }
}
.modal-btn-watched {
  padding: 6px 27px;
  background-color: #ff6b01;
  border: 1px solid #ff6b01;
  border-radius: 5px;
  color: #ffffff;
  transition: background-color 250ms linear, color 250ms linear;
}
@media screen and (min-width: 768px) {
  .modal-btn-watched {
    padding: 0;
  }
}
.modal-btn-watched:hover, .modal-btn-watched:focus {
  background-color: #FFFFFF;
  color: #ff6b01;
}
.modal-btn-queue {
  padding: 6px;
  border: 1px solid #000000;
  background-color: #FFFFFF;
  border-radius: 5px;
  transition: border-color 250ms linear, color 250ms linear;
}
@media screen and (min-width: 768px) {
  .modal-btn-queue {
    padding: 0;
  }
}
.modal-btn-queue:hover, .modal-btn-queue:focus {
  color: #ff6b01;
  border-color: #ff6b01;
}