body {
    font-family: $roboto;
    font-style: normal;
    color: getColor('primary-text-color');
    background-color: getColor('white');
    letter-spacing: 0.03em;
    font-size: 14px;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    font-style: normal;
}

a {
    text-decoration: none;
}

img {
    margin-top: 0;
    margin-bottom: 0;
    display: block;
}

button{
    font-size: 100%;
    border: 0;
    padding: 0;
}