.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 10;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms linear, visibility 250ms linear;
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}
