<div class="backdrop is-hidden" data-modal-open-login>
   <div class="login-modal">
      <button class="close-login__button" type="button" data-modal-close-login>
         <svg style="width: 24px; height: 24px; ">
            <use href="./images/sprite.svg#icon-close"></use>
         </svg>
      </button>
      <h2 class="login__title">Log in</h2>
      <form class="login-form">
         <input type="text" name="email" placeholder="Email">
         <input type="password" name="password" placeholder="Password">
         <button type="submit">Log in</button>
      </form>
   </div>
</div>