<div class="backdrop backdrop-students-modal is-hidden">
<div class="students-modal students-modal-close">
  <button type="button" class="students-modal-close-button" >
    <svg class="students-modal-close-button__icon">
      <use href="/src/images/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img class="student-modal_photo" src="/src/images/student-photo.jpg" alt="">
          <div class="student-modal-info">
          <p class="student-modal_name">Andrii Pinchuk</p>
          <p class="student-modal_role">Team Lead</p>
          <p class="student-modal_tasks">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Dictumst quisque sagittis purus sit amet volutpat consequat. Eros in cursus turpis massa tincidunt. 
            Turpis egestas pretium aenean pharetra magna ac placerat. 
            Suspendisse ultrices gravida dictum fusce ut. 
            Quam nulla porttitor massa id. Arcu dui vivamus arcu felis.
          </p>
        </div>
        </div>
        <div class="swiper-slide">
          <img class="student-modal_photo" src="/src/images/student-photo.jpg" alt="">
          <div class="student-modal-info">
          <p class="student-modal_name">Yaroslav Kramarchuk</p>
          <p class="student-modal_role">Scrum Master and Developer</p>
          <p class="student-modal_tasks">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Dictumst quisque sagittis purus sit amet volutpat consequat. Eros in cursus turpis massa tincidunt. 
            Turpis egestas pretium aenean pharetra magna ac placerat. 
            Suspendisse ultrices gravida dictum fusce ut. 
            Quam nulla porttitor massa id. Arcu dui vivamus arcu felis.
          </p>
        </div>
        </div>
        <div class="swiper-slide">
          <img class="student-modal_photo" src="/src/images/student-photo.jpg" alt="">
          <div class="student-modal-info">
          <p class="student-modal_name">Nadiia Harbuza</p>
          <p class="student-modal_role">Developer</p>
          <p class="student-modal_tasks">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Dictumst quisque sagittis purus sit amet volutpat consequat. Eros in cursus turpis massa tincidunt. 
            Turpis egestas pretium aenean pharetra magna ac placerat. 
            Suspendisse ultrices gravida dictum fusce ut. 
            Quam nulla porttitor massa id. Arcu dui vivamus arcu felis.
          </p>
        </div>
        </div>
        <div class="swiper-slide">
          <img class="student-modal_photo" src="/src/images/student-photo.jpg" alt="">
          <div class="student-modal-info">
          <p class="student-modal_name">Aliona Chernenko</p>
          <p class="student-modal_role">Developer</p>
          <p class="student-modal_tasks">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Dictumst quisque sagittis purus sit amet volutpat consequat. Eros in cursus turpis massa tincidunt. 
            Turpis egestas pretium aenean pharetra magna ac placerat. 
            Suspendisse ultrices gravida dictum fusce ut. 
            Quam nulla porttitor massa id. Arcu dui vivamus arcu felis.
          </p>
        </div>
        </div>
        <div class="swiper-slide">
          <img class="student-modal_photo" src="/src/images/student-photo.jpg" alt="">
          <div class="student-modal-info">
          <p class="student-modal_name">Marharyta Myrhorodska</p>
          <p class="student-modal_role">Developer</p>
          <p class="student-modal_tasks">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Dictumst quisque sagittis purus sit amet volutpat consequat. Eros in cursus turpis massa tincidunt. 
            Turpis egestas pretium aenean pharetra magna ac placerat. 
            Suspendisse ultrices gravida dictum fusce ut. 
            Quam nulla porttitor massa id. Arcu dui vivamus arcu felis.
          </p>
        </div>
        </div>
        <div class="swiper-slide">
          <img class="student-modal_photo" src="/src/images/student-photo.jpg" alt="">
          <div class="student-modal-info">
          <p class="student-modal_name">Yehor Nohovskyi</p>
          <p class="student-modal_role">Developer</p>
          <p class="student-modal_tasks">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Dictumst quisque sagittis purus sit amet volutpat consequat. Eros in cursus turpis massa tincidunt. 
            Turpis egestas pretium aenean pharetra magna ac placerat. 
            Suspendisse ultrices gravida dictum fusce ut. 
            Quam nulla porttitor massa id. Arcu dui vivamus arcu felis.
          </p>
        </div>
        </div>
        <div class="swiper-slide">
          <img class="student-modal_photo" src="/src/images/student-photo.jpg" alt="">
          <div class="student-modal-info">
          <p class="student-modal_name">Roman Voznuk</p>
          <p class="student-modal_role">Developer</p>
          <p class="student-modal_tasks">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Dictumst quisque sagittis purus sit amet volutpat consequat. Eros in cursus turpis massa tincidunt. 
            Turpis egestas pretium aenean pharetra magna ac placerat. 
            Suspendisse ultrices gravida dictum fusce ut. 
            Quam nulla porttitor massa id. Arcu dui vivamus arcu felis.
          </p>
        </div>
        </div>
        <div class="swiper-slide">
          <img class="student-modal_photo" src="/src/images/student-photo.jpg" alt="">
          <div class="student-modal-info">
          <p class="student-modal_name">Roman Tregub</p>
          <p class="student-modal_role">Developer</p>
          <p class="student-modal_tasks">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Dictumst quisque sagittis purus sit amet volutpat consequat. Eros in cursus turpis massa tincidunt. 
            Turpis egestas pretium aenean pharetra magna ac placerat. 
            Suspendisse ultrices gravida dictum fusce ut. 
            Quam nulla porttitor massa id. Arcu dui vivamus arcu felis.
          </p>
        </div>
        </div>
        <div class="swiper-slide">
          <img class="student-modal_photo" src="/src/images/student-photo.jpg" alt="">
          <div class="student-modal-info">
          <p class="student-modal_name">Dmytro Havryliak</p>
          <p class="student-modal_role">Developer</p>
          <p class="student-modal_tasks">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Dictumst quisque sagittis purus sit amet volutpat consequat. Eros in cursus turpis massa tincidunt. 
            Turpis egestas pretium aenean pharetra magna ac placerat. 
            Suspendisse ultrices gravida dictum fusce ut. 
            Quam nulla porttitor massa id. Arcu dui vivamus arcu felis.
          </p>
        </div>
        </div>
        <div class="swiper-slide">
          <img class="student-modal_photo" src="/src/images/student-photo.jpg" alt="">
          <div class="student-modal-info">
          <p class="student-modal_name">Roman Prus</p>
          <p class="student-modal_role">Developer</p>
          <p class="student-modal_tasks">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Dictumst quisque sagittis purus sit amet volutpat consequat. Eros in cursus turpis massa tincidunt. 
            Turpis egestas pretium aenean pharetra magna ac placerat. 
            Suspendisse ultrices gravida dictum fusce ut. 
            Quam nulla porttitor massa id. Arcu dui vivamus arcu felis.
          </p>
        </div>
        </div>
        <div class="swiper-slide">
          <img class="student-modal_photo" src="/src/images/student-photo.jpg" alt="">
          <div class="student-modal-info">
          <p class="student-modal_name">Taras Tikan</p>
          <p class="student-modal_role">Developer</p>
          <p class="student-modal_tasks">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Dictumst quisque sagittis purus sit amet volutpat consequat. Eros in cursus turpis massa tincidunt. 
            Turpis egestas pretium aenean pharetra magna ac placerat. 
            Suspendisse ultrices gravida dictum fusce ut. 
            Quam nulla porttitor massa id. Arcu dui vivamus arcu felis.
          </p>
        </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>

</div>