<div class="backdrop backdrop-students-modal is-hidden">
<div class="students-modal students-modal-close">
  <button type="button" class="students-modal-close-button" >
    <svg class="students-modal-close-button__icon">
      <use href="/src/images/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img class="student-modal_photo" src="/src/images/students/8.webp" alt="Andrii Pinchuk" width="auto" height="auto">
          <div class="student-modal-info">
          <p class="student-modal_name">Andrii Pinchuk</p>
          <p class="student-modal_role">Team Lead</p>
          <p class="student-modal_tasks">
            <b>Участь у проекті:</b><br>
              Fetch запити, рендер популярних фільмів, важка праця тімліда та керування проектов та командою.<br><br>
            <b>Опис себе:</b><br>
              28 років, юний геній
              <div class="swiper__social">
                <a href="https://github.com/a-pinchuk/">
                  <img src="/src/images/students/github.svg" alt="" width="45" height="45">
                </a>
                <a href="https://www.linkedin.com/in/andrew-pinchuk-4463521b1/">
                  <img class="swiper__social--linked" src="/src/images/students/linkedin.svg" alt="" width="45" height="45">
                </a>
              </div>    
          </p>
        </div>
        </div>
        <div class="swiper-slide">
          <img class="student-modal_photo" src="/src/images/students/7.webp" alt="Yaroslav Kramarchuk" width="auto" height="auto">
          <div class="student-modal-info">
          <p class="student-modal_name">Yaroslav Kramarchuk</p>
          <p class="student-modal_role">Scrum Master and Developer</p>
          <p class="student-modal_tasks">
            <b>Участь у проекті:</b><br>
              header, theme switcher, style amendments<br><br>
            <b>Опис себе:</b><br>
             Люблю борщ з галушками, робоча сторона на фото - права.
             <div class="swiper__social">
              <a href="">
                <img src="/src/images/students/github.svg" alt="" width="45" height="45">
              </a>
              <a href="">
                <img class="swiper__social--linked" src="/src/images/students/linkedin.svg" alt="" width="45" height="45">
              </a>
            </div>    
          </p>
        </div>
        </div>
        <div class="swiper-slide">
          <img class="student-modal_photo" src="/src/images/students/3.webp" alt="Nadiia Harbuza" width="auto" height="auto">
          <div class="student-modal-info">
          <p class="student-modal_name">Nadiia Harbuza</p>
          <p class="student-modal_role">Developer</p>
          <p class="student-modal_tasks">
            <b>Участь у проекті:</b><br>
              Fetch запити, рендер популярних фільмів, важка праця тімліда та керування проектом та командою.<br><br>
            <b>Опис себе:</b><br>
              28 років, юний геній
              <div class="swiper__social">
                <a href="">
                  <img src="/src/images/students/github.svg" alt="" width="45" height="45">
                </a>
                <a href="">
                  <img class="swiper__social--linked" src="/src/images/students/linkedin.svg" alt="" width="45" height="45">
                </a>
              </div>    
          </p>
        </div>
        </div>
        <div class="swiper-slide">
          <img class="student-modal_photo" src="/src/images/students/9.webp" alt="Aliona Chernenko" width="auto" height="auto">
          <div class="student-modal-info">
          <p class="student-modal_name">Aliona Chernenko</p>
          <p class="student-modal_role">Developer</p>
          <p class="student-modal_tasks">
            <b>Участь у проекті:</b><br>
              Fetch запити, рендер популярних фільмів, важка праця тімліда та керування проектов та командою.<br><br>
            <b>Опис себе:</b><br>
              28 років, юний геній
              <div class="swiper__social">
                <a href="">
                  <img src="/src/images/students/github.svg" alt="" width="45" height="45">
                </a>
                <a href="">
                  <img class="swiper__social--linked" src="/src/images/students/linkedin.svg" alt="" width="45" height="45">
                </a>
              </div>    
          </p>
        </div>
        </div>
        <div class="swiper-slide">
          <img class="student-modal_photo" src="/src/images/students/2.webp" alt="Marharyta Myrhorodska" width="auto" height="auto">
          <div class="student-modal-info">
          <p class="student-modal_name">Marharyta Myrhorodska</p>
          <p class="student-modal_role">Developer</p>
          <p class="student-modal_tasks">
            <b>Участь у проекті:</b><br>
              Fetch запити, рендер популярних фільмів, важка праця тімліда та керування проектов та командою.<br><br>
            <b>Опис себе:</b><br>
              28 років, юний геній
              <div class="swiper__social">
                <a href="">
                  <img src="/src/images/students/github.svg" alt="" width="45" height="45">
                </a>
                <a href="">
                  <img class="swiper__social--linked" src="/src/images/students/linkedin.svg" alt="" width="45" height="45">
                </a>
              </div>    
          </p>
        </div>
        </div>
        <div class="swiper-slide">
          <img class="student-modal_photo" src="/src/images/students/6.webp" alt="Yehor Nohovskyi" width="auto" height="auto">
          <div class="student-modal-info">
          <p class="student-modal_name">Yehor Nohovskyi</p>
          <p class="student-modal_role">Developer</p>
          <p class="student-modal_tasks">
            <b>Участь у проекті:</b><br>
              Fetch запити, рендер популярних фільмів, важка праця тімліда та керування проектов та командою.<br><br>
            <b>Опис себе:</b><br>
              28 років, юний геній
              <div class="swiper__social">
                <a href="">
                  <img src="/src/images/students/github.svg" alt="" width="45" height="45">
                </a>
                <a href="">
                  <img class="swiper__social--linked" src="/src/images/students/linkedin.svg" alt="" width="45" height="45">
                </a>
              </div>    
          </p>
        </div>
        </div>
        <div class="swiper-slide">
          <img class="student-modal_photo" src="/src/images/students/5.webp" alt="Roman Voznuk" width="auto" height="auto">
          <div class="student-modal-info">
          <p class="student-modal_name">Roman Voznuk</p>
          <p class="student-modal_role">Developer</p>
          <p class="student-modal_tasks">
            <b>Участь у проекті:</b><br>
            data search-page, debug style<br><br>
            <b>Опис себе:</b><br>
            люблю грати на електогітарі - музика завжди мотивуе, займаюсь спортом. Фанат: Steve Jobs, Arnold Schwarzenegger, Kurt Cobain
              <div class="swiper__social">
                <a href="">
                  <img src="/src/images/students/github.svg" alt="" width="45" height="45">
                </a>
                <a href="">
                  <img class="swiper__social--linked" src="/src/images/students/linkedin.svg" alt="" width="45" height="45">
                </a>
              </div>    
          </p>
        </div>
        </div>
        <div class="swiper-slide">
          <img class="student-modal_photo" src="/src/images/student-photo.jpg" alt="Roman Tregub" width="auto" height="auto">
          <div class="student-modal-info">
          <p class="student-modal_name">Roman Tregub</p>
          <p class="student-modal_role">Developer</p>
          <p class="student-modal_tasks">
            <b>Участь у проекті:</b><br>
              Fetch запити, рендер популярних фільмів, важка праця тімліда та керування проектов та командою.<br><br>
            <b>Опис себе:</b><br>
              28 років, юний геній
              <div class="swiper__social">
                <a href="https://github.com/VozzRoman">
                  <img src="/src/images/students/github.svg" alt="" width="45" height="45">
                </a>
                <a href="https://www.linkedin.com/in/voznuke-roman/">
                  <img class="swiper__social--linked" src="/src/images/students/linkedin.svg" alt="" width="45" height="45">
                </a>
              </div>    
          </p>
        </div>
        </div>
        <div class="swiper-slide">
          <img class="student-modal_photo" src="/src/images/students/1.webp" alt="Dmytro Havryliak" width="auto" height="auto">
          <div class="student-modal-info">
          <p class="student-modal_name">Dmytro Havryliak</p>
          <p class="student-modal_role">Developer</p>
          <p class="student-modal_tasks">
            <b>Участь у проекті:</b><br>
              Fetch запити, рендер популярних фільмів, важка праця тімліда та керування проектов та командою.<br><br>
            <b>Опис себе:</b><br>
              28 років, юний геній
              <div class="swiper__social">
                <a href="">
                  <img src="/src/images/students/github.svg" alt="" width="45" height="45">
                </a>
                <a href="">
                  <img class="swiper__social--linked" src="/src/images/students/linkedin.svg" alt="" width="45" height="45">
                </a>
              </div>    
          </p>
        </div>
        </div>
        <div class="swiper-slide">
          <img class="student-modal_photo" src="/src/images/student-photo.jpg" alt="Roman Prus" width="auto" height="auto">
          <div class="student-modal-info">
          <p class="student-modal_name">Roman Prus</p>
          <p class="student-modal_role">Developer</p>
          <p class="student-modal_tasks">
            <b>Участь у проекті:</b><br>
              Fetch запити, рендер популярних фільмів, важка праця тімліда та керування проектов та командою.<br><br>
            <b>Опис себе:</b><br>
              28 років, юний геній
              <div class="swiper__social">
                <a href="">
                  <img src="/src/images/students/github.svg" alt="" width="45" height="45">
                </a>
                <a href="">
                  <img class="swiper__social--linked" src="/src/images/students/linkedin.svg" alt="" width="45" height="45">
                </a>
              </div>    
          </p>
        </div>
        </div>
        <div class="swiper-slide">
          <img class="student-modal_photo" src="/src/images/students/4.webp" alt="Taras Tikan" width="auto" height="auto">
          <div class="student-modal-info">
          <p class="student-modal_name">Taras Tikan</p>
          <p class="student-modal_role">Developer</p>
          <p class="student-modal_tasks">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Dictumst quisque sagittis purus sit amet volutpat consequat. Eros in cursus turpis massa tincidunt. 
            Turpis egestas pretium aenean pharetra magna ac placerat. 
            Suspendisse ultrices gravida dictum fusce ut. 
            Quam nulla porttitor massa id. Arcu dui vivamus arcu felis.
          </p>
        </div>
        </div>
        <div class="swiper-slide">
          <img class="student-modal_photo" src="/src/images/student-photo.jpg" alt="Alexandr Prikhodko" width="auto" height="auto">
          <div class="student-modal-info">
          <p class="student-modal_name">Alexandr Prikhodko</p>
          <p class="student-modal_role">Developer</p>
          <p class="student-modal_tasks">
            <b>Участь у проекті:</b><br>
              Fetch запити, рендер популярних фільмів, важка праця тімліда та керування проектов та командою.<br><br>
            <b>Опис себе:</b><br>
              28 років, юний геній
              <div class="swiper__social">
                <a href="">
                  <img src="/src/images/students/github.svg" alt="" width="45" height="45">
                </a>
                <a href="">
                  <img class="swiper__social--linked" src="/src/images/students/linkedin.svg" alt="" width="45" height="45">
                </a>
              </div>    
          </p>
        </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>

</div>