<div class="backdrop is-hidden" data-modal-open-signup>
   <div class="sign-up__modal">
      <button class="close__button" type="button" data-modal-close-signup>
         <svg style="width: 24px; height: 24px; ">
            <use href="./images/sprite.svg#icon-close"></use>
         </svg>
      </button>
      <h2 class="sign-up__title">Sign up</h2>
      <form class="sing-up__form">
         <input type="text" name="username" placeholder="Name" required maxlength="12">
         <input type="email" name="email" placeholder="Email" required>
         <input type="password" name="password" placeholder="Password" minlength="6" required>
         <button type="submit">Sign up</button>
      </form>

   </div>
</div>