<button class="filter-form-btn" type="button">filter</button>
<div class="filter-form">
	<div class="filter-group filter-genres">
			<button class="filter-group__btn genres-btn" type="button">Genres</button>
			<div class="filter-group__item genres-item" role="group" aria-labelledby="genres">
				<div class="filter-group-field">
					<input type="checkbox" class="filter-group-input visually-hidden" name="genres" value="28" id="genres-action">
					<label class="filter-group-label" for="genres-action">Action</label>
				</div>
				<div class="filter-group-field">
					<input type="checkbox" class="filter-group-input visually-hidden" name="genres" value="12" id="genres-adventure">
					<label class="filter-group-label" for="genres-adventure">Adventure</label>
				</div>
				<div class="filter-group-field">
					<input type="checkbox" class="filter-group-input visually-hidden" name="genres" value="16" id="genres-animation">
					<label class="filter-group-label" for="genres-animation">Animation</label>
				</div>
				<div class="filter-group-field">
					<input type="checkbox" class="filter-group-input visually-hidden" name="genres" value="35" id="genres-comedy">
					<label class="filter-group-label" for="genres-comedy">Comedy</label>
				</div>
				<div class="filter-group-field">
					<input type="checkbox" class="filter-group-input visually-hidden" name="genres" value="80" id="genres-crime">
					<label class="filter-group-label" for="genres-crime">Crime</label>
				</div>
				<div class="filter-group-field">
					<input type="checkbox" class="filter-group-input visually-hidden" name="genres" value="99" id="genres-documentary">
					<label class="filter-group-label" for="genres-documentary">Documentary</label>
				</div>
				<div class="filter-group-field">
					<input type="checkbox" class="filter-group-input visually-hidden" name="genres" value="18" id="genres-drama">
					<label class="filter-group-label" for="genres-drama">Drama</label>
				</div>
				<div class="filter-group-field">
					<input type="checkbox" class="filter-group-input visually-hidden" name="genres" value="10751" id="genres-family">
					<label class="filter-group-label" for="genres-family">Family</label>
				</div>
				<div class="filter-group-field">
					<input type="checkbox" class="filter-group-input visually-hidden" name="genres" value="14" id="genres-fantasy">
					<label class="filter-group-label" for="genres-fantasy">Fantasy</label>
				</div>
				<div class="filter-group-field">
					<input type="checkbox" class="filter-group-input visually-hidden" name="genres" value="36" id="genres-history">
					<label class="filter-group-label" for="genres-history">History</label>
				</div>
				<div class="filter-group-field">
					<input type="checkbox" class="filter-group-input visually-hidden" name="genres" value="27" id="genres-horror">
					<label class="filter-group-label" for="genres-horror">Horror</label>
				</div>
				<div class="filter-group-field">
					<input type="checkbox" class="filter-group-input visually-hidden" name="genres" value="10402" id="genres-music">
					<label class="filter-group-label" for="genres-music">Music</label>
				</div>
				<div class="filter-group-field">
					<input type="checkbox" class="filter-group-input visually-hidden" name="genres" value="9648" id="genres-mystery">
					<label class="filter-group-label" for="genres-mystery">Mystery</label>
				</div>
				<div class="filter-group-field">
					<input type="checkbox" class="filter-group-input visually-hidden" name="genres" value="10749" id="genres-romance">
					<label class="filter-group-label" for="genres-romance">Romance</label>
				</div>
				<div class="filter-group-field">
					<input type="checkbox" class="filter-group-input visually-hidden" name="genres" value="878" id="genres-science-fiction">
					<label class="filter-group-label" for="genres-science-fiction">Science Fiction</label>
				</div>
				<div class="filter-group-field">
					<input type="checkbox" class="filter-group-input visually-hidden" name="genres" value="10770" id="genres-tv-movie">
					<label class="filter-group-label" for="genres-tv-movie">TV Movie</label>
				</div>
				<div class="filter-group-field">
					<input type="checkbox" class="filter-group-input visually-hidden" name="genres" value="53" id="genres-thriller">
					<label class="filter-group-label" for="genres-thriller">Thriller</label>
				</div>
				<div class="filter-group-field">
					<input type="checkbox" class="filter-group-input visually-hidden" name="genres" value="10752" id="genres-war">
					<label class="filter-group-label" for="genres-war">War</label>
				</div>
				<div class="filter-group-field">
					<input type="checkbox" class="filter-group-input visually-hidden" name="genres" value="37" id="genres-western">
					<label class="filter-group-label" for="genres-western">Western</label>
				</div>
			</div>
			

	</div>
	<div class="filter-group filter-language">
		<button class="filter-group__btn language-btn" type="button">Language</button>
		<div class="filter-group__item language-item" role="group" aria-labelledby="language">
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="language" value="en" id="language-english">
				<label class="filter-group-label" for="language-english">English</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="language" value="uk" id="language-ukrainian">
				<label class="filter-group-label" for="language-ukrainian">Ukrainian</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="language" value="pl" id="language-polish">
				<label class="filter-group-label" for="language-polish">Polish</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="language" value="fr" id="language-french">
				<label class="filter-group-label" for="language-french">French</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="language" value="de" id="language-german">
				<label class="filter-group-label" for="language-german">German</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="language" value="it" id="language-italian">
				<label class="filter-group-label" for="language-italian">Italian</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="language" value="es" id="language-spanish">
				<label class="filter-group-label" for="language-spanish">Spanish</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="language" value="pt" id="language-portuguese">
				<label class="filter-group-label" for="language-portuguese">Portuguese</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="language" value="zh" id="language-chinese">
				<label class="filter-group-label" for="language-chinese">Chinese</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="language" value="tr" id="language-turkish">
				<label class="filter-group-label" for="language-turkish">Turkish</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="language" value="ar" id="language-arabic">
				<label class="filter-group-label" for="language-arabic">Arabic</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="language" value="hi" id="language-hindi">
				<label class="filter-group-label" for="language-hindi">Hindi</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="language" value="ja" id="language-japanese">
				<label class="filter-group-label" for="language-japanese">Japanese</label>
			</div>
			
		</div>
		

	</div>
	<div class="filter-group filter-year">
		<button class="filter-group__btn year-btn" type="button">Year</button>
		<div class="filter-group__item year-item" role="group" aria-labelledby="year">
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="year" value="2022" id="year-2022">
				<label class="filter-group-label" for="year-2022">2022</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="year" value="2021" id="year-2021">
				<label class="filter-group-label" for="year-2021">2021</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="year" value="2020" id="year-2020">
				<label class="filter-group-label" for="year-2020">2020</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="year" value="2019" id="year-2019">
				<label class="filter-group-label" for="year-2019">2019</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="year" value="2018" id="year-2018">
				<label class="filter-group-label" for="year-2018">2018</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="year" value="2017" id="year-2017">
				<label class="filter-group-label" for="year-2017">2017</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="year" value="2016" id="year-2016">
				<label class="filter-group-label" for="year-2022">2022</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="year" value="2015" id="year-2015">
				<label class="filter-group-label" for="year-2015">2015</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="year" value="2014" id="year-2014">
				<label class="filter-group-label" for="year-2014">2014</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="year" value="2013" id="year-2013">
				<label class="filter-group-label" for="year-2013">2013</label>
			</div>
		</div>
		

	</div>
	<div class="filter-group filter-sort">
		<button class="filter-group__btn sort-btn" type="button">Sort by</button>
		<div class="filter-group__item sort-item" role="group" aria-labelledby="sort">
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="sort" value="popularity.asc" id="sort-popularity-asc">
				<label class="filter-group-label" for="sort-popularity-asc">Popularity asc</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="sort" value="popularity.desc" id="sort-popularity-desc">
				<label class="filter-group-label" for="sort-popularity-desc">Popularity desc</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="sort" value="release_date.asc" id="sort-release_date-asc">
				<label class="filter-group-label" for="sort-release_date-asc">Release date asc</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="sort" value="release_date.desc" id="sort-release_date-desc">
				<label class="filter-group-label" for="sort-release_date-desc">Release date desc</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="sort" value="earnings.asc" id="sort-earnings-asc">
				<label class="filter-group-label" for="sort-earnings-asc">Earnings asc</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="sort" value="prihod.desc" id="sort-prihod-desc">
				<label class="filter-group-label" for="sort-prihod-desc">Prihod desc</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="sort" value="primary_release_date.asc" id="sort-primary_release_date-asc">
				<label class="filter-group-label" for="sort-primary_release_date-asc">Primary release date asc</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="sort" value="primary_release_date.desc" id="sort-primary_release_date-desc">
				<label class="filter-group-label" for="sort-primary_release_date-desc">Primary release date desc</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="sort" value="original_title.asc" id="sort-original_title-asc">
				<label class="filter-group-label" for="sort-original_title-asc">Original title asc</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="sort" value="original_title.desc" id="sort-original_title-desc">
				<label class="filter-group-label" for="sort-original_title-desc">Original title desc</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="sort" value="vote_average.asc" id="sort-vote_average-asc">
				<label class="filter-group-label" for="sort-vote_average-asc">Vote average asc</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="sort" value="vote_average.desc" id="sort-vote_average-desc">
				<label class="filter-group-label" for="sort-vote_average-desc">Vote average desc</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="sort" value="vote_count.asc" id="sort-vote_count-asc">
				<label class="filter-group-label" for="sort-vote_count-asc">Vote count asc</label>
			</div>
			<div class="filter-group-field">
				<input type="radio" class="filter-group-input visually-hidden" name="sort" value="vote_count.desc" id="sort-vote_count-desc">
				<label class="filter-group-label" for="sort-vote_count-desc">Vote count desc</label>
			</div>
			
		</div>
		

	</div>
</div>