<button class="filter-form-btn" type="button"></button>
<div class="filter-form">
	<div class="filter-group filter-genres">
		<label class="filter-label" for="filter-group-genres">By genres:</label>
		<select class="filter-select" name="with_genres" id="filter-group-genres">
			<option value="28">Action</option>
			<option value="12">Adventure</option>
			<option value="16">Animation</option>
			<option value="35">Comedy</option>
			<option value="80">Crime</option>
			<option value="99">Documentary</option>
			<option value="18">Drama</option>
			<option value="10751">Family</option>
			<option value="14">Fantasy</option>
			<option value="36">History</option>
			<option value="27">Horror</option>
			<option value="10402">Music</option>
			<option value="9648">Mystery</option>
			<option value="10749">Romance</option>
			<option value="878">Science Fiction</option>
			<option value="10770">TV Movie</option>
			<option value="53">Thriller</option>
			<option value="99">Documentary</option>
			<option value="10752">War</option>
			<option value="37">Western</option>
		</select>
	</div>
	<div class="filter-group filter-language">
		<label class="filter-label" for="filter-group-language">By language:</label>
		<select class="filter-select" name="language" id="filter-group-language">
			<option value="en">English</option>
			<option value="uk">Ukrainian</option>
			<option value="pl">Polish</option>
			<option value="fr">French</option>
			<option value="de">German</option>
			<option value="it">Italian</option>
			<option value="es">Spanish</option>
			<option value="pt">Portuguese</option>
			<option value="zh">Chinese</option>
			<option value="tr">Turkish</option>
			<option value="ar">Arabic</option>
			<option value="hi">Hindi</option>
			<option value="ja">Japanese</option>
		</select>
	</div>
	<div class="filter-group filter-year">
		<label class="filter-label" for="filter-group-year">By year:</label>
		<select class="filter-select" name="primary_release_year" id="filter-group-year">
			<option value="2022">2022</option>
			<option value="2021">2021</option>
			<option value="2020">2020</option>
			<option value="2019">2019</option>
			<option value="2018">2018</option>
			<option value="2017">2017</option>
			<option value="2016">2016</option>
			<option value="2015">2015</option>
			<option value="2014">2014</option>
			<option value="2013">2013</option>
		</select>
	</div>
	<div class="filter-group filter-sort">
		<label class="filter-label" for="filter-group-sort">By sort:</label>
		<select class="filter-select" name="sort_by" id="filter-group-sort">
			<option value="popularity.desc">Popularity desc</option>
			<option value="release_date.asc">Release date asc</option>
			<option value="vote_count.desc">Vote count desc</option>
		</select>
	</div>
</div>