<div class="container gallery__container">
  <div class="gallery">
    <!-- Приклад картки -->
    <div class="photo__card">
      <img
        src="https://www.dreamworks.com/storage/cms-uploads/puss-in-boots-the-last-wish-poster-thumbnail.jpg"
        alt=""
        loading="lazy"
        class="movie__image"
      />
      <div class="movie__info">
        <h2 class="movie__title">Puss in Boots</h2>
        <div class="movie__details">
          <p class="movie__genre">cartoon</p>
          <p class="movie__year">2022</p>
        </div>
      </div>
    </div>

    <!--!!!!!!!!!!!!!! Шаблон  картки  одного фільму!!!!!!!-->

    <!-- <div class="photo__card">
      <img src="" alt="" loading="lazy" class="movie__image" />
      <div class="movie__info">
        <h2 class="movie__title"></h2>
        <div class="movie__details">
          <p class="movie__genre"></p>
          <p class="movie__year"></p>
        </div>
      </div>
    </div>
  </div> -->
  </div>
</div>
