<header class="header">
  <!-- <img class="header__background"
        src="./images/abstract-background-with-red-lines 1.jpg"
        alt="header"
      /> -->

  <nav class="navigation">
    <div class="mob-navigation">
      <a href="./index.html" lang="en" class="logo"> Filmoteka </a>

      <ul class="mob-navigation__buttons">
        <li class="mob-navigation__item">
          <a
            href="./index.html"
            class="mob-navigation__link mob-navigation__link--current"
            >Home</a
          >
        </li>
        <li class="mob-navigation__item">
          <a href="./index.html" class="mob-navigation__link">My Library</a>
        </li>
      </ul>
    </div>

    <form class="search-form" action="">
      <input
        class="search-form__input"
        type="text"
        placeholder="Movie search"
      />
      <button class="search-form__button" type="submit"></button>
    </form>
  </nav>
</header>
