<header class="header-library">
  <div class="header__container">
    <div class="nav-library">
      <a class="nav-library__logo" href="./index.html">
        <svg class="header-library__icon" width="24px" height="24px">
          <use href="./images/sprite.svg#icon-film"></use></svg>
          <span class="header-library__tittle">Filmoteka</span></a>

      
      <ul class="header-library__list">
        <li><a class="header-library__link" href="./index.html">Home</a></li>
        <li>
          <a
            class="header-library__link site-nav__link--current"
            href="./my-library.html"
            >My Library</a
          >
        </li>
      </ul>
    </div>  

    <div class="header-library__btn-list">
      <button class="header-library__btn"  type="button">Watched</button>
      <button class="header-library__btn"  type="button">Queue</button>
    </div>
</header>
<main>
  <section class="main-section__library">
    <h1 class="visually-hidden">My Library</h1>
    <div class="container library__container">
      <ul class="movie-list"></ul>
    </div>
  </section>
</main>