<header class="header-library">
  <div class="header__container">
    <div class="nav-library">
      <a class="nav-library__logo" href="./index.html">
        <svg class="header-library__icon" width="24px" height="24px">
          <use href="./images/sprite.svg#icon-film"></use>
        </svg>
        <span class="header-library__tittle">Filmoteka</span></a>


      <ul class="header-library__list">
        <include src="./partials/switcher.html"></include>
        <li><a class="header-library__link" href="./index.html">Home</a></li>
        <li style="position: relative;">
          <a class="header-library__link site-nav__link--current" href="./my-library.html">My Library</a>
          <div class="header-library__auth-box">
            <p class="header-library__user-name"></p>
            <svg class="header-library__logout-btn" style="width: 24px; height: 24px; ">
              <use href="./images/sprite.svg#icon-log-out"></use>
            </svg>
          </div>
        </li>

      </ul>
    </div>

    <div class="header-library__btn-list">
      <button class="header-library__btn header-library__btn-active" id="library-watched" type="button">Watched</button>
      <button class="header-library__btn" id="library-queue" type="button">Queue</button>

    </div>

</header>
<main>
  <section class="main-section__library">
    <h1 class="visually-hidden">My Library</h1>
    <div class="container gallery__container">
      <ul class="gallery__list" id="movie-list">
  
      </ul>

    </div>
	 <div class="not-img-stile not-img">
		<div>
			<img  src="./images/empty.png" alt="" width="auto" height="auto">
        </div>
        <div class="">
          <p class="library__text-wrap">Ouhh... it's empty! <br>Add your favorite movies.</p>
        </div>
	 </div>
               <!-- ADD MOVIE TO Watched OR Queue  -->
  
    </div>
  </section>
</main>