<section class="slider-container">
<div class="swiper card_slider">
    <!-- Additional required wrapper -->
    <ul class="swiper-wrapper">
     <!-- <li class="swiper-slide">afafaf</li> -->
    </ul>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <button class="swiper-button-prev"></button>
    <button class="swiper-button-next"></button>
  
    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
  </div>
</section>