<section class="slider-container">
  <div class="container">
    <h1 class="slider-title">Future films</h1>
<div class="swiper card_slider">
    <!-- Additional required wrapper -->
    <ul class="swiper-wrapper">
      
    </ul>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
  </div>
</div>
<button class="swiper-button-prev btn-swiper-prev"></button>
<button class="swiper-button-next btn-swiper-next"></button>
</section>