@import '../base/colors';

.gallery__container {
  padding-top: 20px;
  padding-bottom: 40px;
  ::-webkit-scrollbar {
    width: 20px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  }

  @include media-min(tablet) {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  @include media-min(tablet) {
    gap: 32px;
  }
  @include media-min(desktop) {
    gap: 16px;
  }
}

.photo__card {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
  transition: filter 300ms ease-in-out;
  &:hover,
  &:focus {
    .movie__rating {
      filter: drop-shadow(2px -2px 2px getColor(primary-text-color));
    }
    .film__title {
      // filter: drop-shadow(1px -1px 1px rgb(90, 88, 88));
      transform: scale(1.01);
    }
    .movie__image {
      filter: drop-shadow(1px 1px 15px getColor(secondary-text-color));
    }
    // filter: drop-shadow(0px -1px 30px getColor(secondary-text-color));
    // filter: drop-shadow(1px 1px 10px getColor(secondary-text-color));
  }
  // .photo__card-dark-theme {
  //   &:hover,
  //   &:focus {
  //     box-shadow: 0px 1px 1px getColor(secondary-text-color),
  //       0px 4px 4px getColor(secondary-text-color),
  //       1px 4px 6px getColor(secondary-text-color);
  //   }
  // }

  @include media-min(tablet) {
    width: calc((100% - 32px) / 2);
	 display: flex;
	 flex-direction: column;
	 justify-content: space-between;
  }
  @include media-min(desktop) {
    width: calc((100% - 32px) / 3);
	 
  }
}
.movie__image {
  border-radius: 5px;
  width: 100%;
  height: auto;

  object-fit: cover;
  transition: filter 300ms ease-in-out;
  @include media-min(tablet) {
    max-width: 336px;
    height: 455px;
  }
  @include media-min(desktop) {
    max-width: 395px;
    height: 575px;
  }
}
.movie__info {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  @include media-min(tablet) {
    padding-top: 8px;
	 display: flex;
	 flex-direction: column;
	 height: 100%;
	 justify-content: space-between;
  }
  @include media-min(desktop) {
    padding-bottom: 16px;
    padding-top: 12px;
  }
}
.movie__title,
.movie__genre,
.movie__year {
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  @include media-min(tablet) {
    line-height: 1.33;
  }
  @include media-min(desktop) {
    font-size: 19.5px;
    line-height: 1.2;
  }
}
// .movie__title {
//   text-transform: uppercase;
//   color: getColor(primary-text-color);
//   transition: text-decoration 300ms ease-in-out, transform 300ms ease-in-out;
// }

.movie__details {
  display: flex;
  gap: 4px;
  @include media-min(tablet) {
    gap: 7px;
  }
}
.film__title {
  text-transform: uppercase;
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;

  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
}
.movie__genre,
.movie__year {
  color: getColor(secondary-text-color);
}

.movie__rating {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 25px;
  background-color: getColor(secondary-text-color);
  border-radius: 5px;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  font-size: 19px;
}

.movie__rating {
  transition: filter 300ms ease-in-out;
}
