@import '../base/colors';
.header {
  background-image: url(/src/images/abstract-background.png);
  background-size: 100% 320px;

  max-width: 100%;
  height: 320px;

  background-repeat: no-repeat;
  opacity: 0.9;
  margin-left: auto;
  margin-right: auto;

  body.dark-theme & {
    background-image: url(../images/header-dark-theme.jpg);
    transition: background-image 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.navigation {
  padding: 40px 20px 92px 20px;
}

.logo {
  display: flex;
  text-indent: -9999px;
  transition: filter 300ms ease-in-out;
  &:hover,
  &:focus {
    filter: drop-shadow(2px -2px 2px getColor(primary-text-color));
  }
  @include media-min(mobile) {
    text-indent: 0px;
    align-items: center;
  }
}

.logo img {
  width: 24px;
  height: 24px;
}

.mob-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__buttons {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  &__item {
    position: relative;
  }
}

.mob-navigation__wrap {
  background-image: url(/src/images/film.svg);
  width: 22px;
  height: 22px;
  background-size: cover;
}

.mob-navigation__icon {
  width: 40px;
  height: 20px;
  stroke: green($color: #000000);
}

.search-form {
  @include media-min(tablet) {
    max-width: 336px;
  }
  @include media-min(desktop) {
    max-width: 394px;
  }
  @include media-max(tablet) {
    margin-top: 130px;
  }
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  max-width: 280px;
  width: 100%;
  border: transparent;
  outline: none;

  &__input {
    border-bottom: 0.5px solid rgb(255, 255, 255);
    border: white;
    border-bottom: 0.5px solid rgb(255, 255, 255);

    border-bottom-color: rgb(255, 255, 255);
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    outline: none;
    width: 100%;
    background-color: transparent;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;

    color: white;

    &::placeholder {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;

      color: white;
    }

    &:focus::placeholder {
      color: transparent;
    }
  }
  //--------Добавил калсс для алерта
  &__info {
    color: #ff001b;
    padding-top: 20px;
    display: block;
    text-align: center;
  }

  &__button {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 4px;
    left: 96%;
    right: 20px;
    background-image: url(/src/images/search\ 2.svg);
    border: transparent;
    background-color: transparent;
    transition: transform 300ms ease-in-out;
    &:hover,
    &:focus {
      transform: scale(1.5);
    }
  }
}

.mob-navigation__main {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: calc(35 / 30);
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;

  margin-left: 10px;
}

.mob-navigation__link {
  position: relative;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  &::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background-color: #ff001b;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }

  &--current::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background-color: #ff001b;
    opacity: 1;
  }

  &:hover::after {
    opacity: 1;
  }
}

.theme-switcher {
  padding: 10px;
  cursor: pointer;
}

.sun-icon {
  width: 30px;
  height: 30px;
}

.open-auth-dropdown {
  position: absolute;
  top: 12px;
  right: 68px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: baseline;
  @include media-max(mobile) {
    top: 16px;
    right: 58px;
  }
}

.authentication {
  &_box {
    opacity: 1;
    position: absolute;
    top: 35px;
    left: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    transform: translate(-50%);
    visibility: visible;
    background-color: #0000;
    transition: opacity 0.35s linear, visibility 0.25s linear;
    width: 60px;

    &.is-hidden {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }
  }
  &__button {
    cursor: pointer;
    background: none;
    fill: #ff6b01;
    transition: transform 0.25s linear, visibility 0.25s linear,
      fill 0.35s linear;
    &:hover {
      transform: scale(1.1);
      fill: #fff;
    }
  }
}
.sign-up {
  &__button {
    cursor: pointer;
    border-radius: 5px;
    background-color: #ff6b01;
    color: #fff;
    padding: 5px 5px;
    transition: transform 0.25s linear, visibility 0.25s linear;
    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}
.login {
  &__button {
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 5px;
    background-color: #ff6b01;
    color: #fff;
    transition: transform 0.25s linear, visibility 0.25s linear;
    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}

.header__user-auth-box {
  position: absolute;
  top: 12px;
  left: -88px;
  transform: translate(-50%);
  display: flex;
  gap: 5px;
  align-items: center;
}

.user-name {
  font-weight: 500;
  color: #ff6b01;
}

.logout {
  cursor: pointer;
  fill: #ff6b01;
  transition: transform 0.25s linear, visibility 0.25s linear, fill 0.35s linear;
  &:hover,
  &:focus {
    transform: scale(1.1);
    fill: #000;
  }
}

.dark {
  background-color: #000000;
}
