@import '../utils/variables';
@import '../utils/mixin';
@import '../base/colors';

@font-face {
    font-family: 'swiper-icons';
    src: url('data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA');
    font-weight: 400;
    font-style: normal;
}

.students-modal {
    width: 280px;
    max-width: 90%;
    height: auto;
    max-height: 90%;
    padding: 35px 20px;
    
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    
    
    background-color: white;
    color: #000000;
    fill: #000000;
    top: 50%;
    left: 50%;
    opacity: 1;
    visibility: visible;
    position: fixed;
    transform: translate(-50%, -50%) scale(1);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 111111;
    // border: 3px solid getColor(secondary-text-color);

    @include media-min(tablet) {
            width: 704px;
            padding: 40px 36px;
        }

        @include media-min(desktop) {
            width: 806px;
            padding: 40px 36px;
        }
}

.students-modal::-webkit-scrollbar{
    display: none;
}

.student-modal_name {
    font-family: inherit;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: getColor(primary-text-color);
    margin-bottom: 8px;
    color: inherit;

    @include media-min(desktop) {
        font-size: 30px;
        line-height: 35px;
        text-align: left;
    }
    
}

.student-modal_photo {
    width: 100%;
    display: block;
    border-radius: 10px;

    @include media-min(tablet) {
        width: 264px;
    }

    @include media-min(desktop) {
        width: 375px;
    }
}

.student-modal_role {
    display: block;
    width: fit-content;
    padding: 3px 10px;
    background-color: getColor(secondary-text-color);
    color: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    border-radius: 5px;

    @include media-min(tablet) {
        margin-bottom: 20px;
        font-size: 14px;
    }
    
}
.students-modal-close {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0);
}

.swiper-slide {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;

    @include media-min(tablet) {
        flex-direction: row;
        align-items: center;
        gap: 50px;
    }
}

.swiper-slide::-webkit-scrollbar{
    display: none;
}

.student-modal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: inherit;
    @include media-min(tablet) {
        align-content: center;
        align-items: flex-start;
        max-width: 300px;
    }
}

.student-modal_tasks {
    display: none;
    max-width: 300px;
    font-size: 15px;
    @include media-min(tablet) {
        display: block;
    }
}

.students-modal-close-button__icon {
    fill: black;
    width: 40px;
    height: 14px;
    transition: fill 250ms cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
        fill: #FF6B08;
    }
}

.students-modal-close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    cursor: pointer;
    z-index: 111;
}

.swiper-button-prev,
.swiper-button-next {
  color: #FF6B08;
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: calc(0px - 44px / 2);
  z-index: 111111111111111111111111;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .swiper-button-next,
  .swiper-button-prev {
   top: 80%;
  }
}

.students-modal-dark-theme {
    background-color: #000000;
    color: #FFFFFF;
    fill: #FFFFFF;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev.swiper-button-hidden,
.swiper-button-next.swiper-button-hidden {
  opacity: 0;
  cursor: auto;
  pointer-events: none;
}
.swiper-navigation-disabled .swiper-button-prev,
.swiper-navigation-disabled .swiper-button-next {
  display: none !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: 20px;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}


.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: 'prev';
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: 'next';
}


