@import '../utils/variables';
@import '../utils/mixin';
@import '../base/colors';

.students-modal {
    color: getColor(primary-text-color);
    fill: #000000;
    max-height: 90%;
    max-width: 90%;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    width: 280px;
    height: auto;
    padding: 35px 20px;
    background-color: white;
    top: 50%;
    left: 50%;
    opacity: 1;
    visibility: visible;
    position: fixed;
    transform: translate(-50%, -50%) scale(1);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 111111;
    // border: 3px solid getColor(secondary-text-color);

    @include media-min(tablet) {
            width: 704px;
            padding: 40px 36px;
        }

        @include media-min(desktop) {
            width: 806px;
            padding: 40px 36px;
        }
}

.students-modal::-webkit-scrollbar{
    display: none;
}

.student-modal_name {
    font-family: inherit;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: inherit;
    margin-bottom: 8px;

    @include media-min(desktop) {
        font-size: 30px;
        line-height: 35px;
        text-align: left;
    }
    
}

.student-modal_photo {
    width: 100%;
    display: block;
    // border: 3px solid getColor(secondary-text-color);
    border-radius: 10px;

    @include media-min(tablet) {
        width: 264px;
    }

    @include media-min(desktop) {
        width: 375px;
    }
}

.student-modal_role {
    display: block;
    width: fit-content;
    padding: 3px 10px;
    background-color: getColor(secondary-text-color);
    color: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    border-radius: 5px;

    @include media-min(tablet) {
        margin-bottom: 20px;
        font-size: 14px;
    }
    
}
.students-modal-close {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0);
}

.swiper-slide {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;

    @include media-min(tablet) {
        flex-direction: row;
        align-items: center;
        gap: 50px;
    }
}

.swiper-slide::-webkit-scrollbar{
    display: none;
}

.student-modal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: inherit;
    @include media-min(tablet) {
        align-content: center;
        align-items: flex-start;
        max-width: 300px;
    }
}

.student-modal_tasks {
    display: none;
    max-width: 300px;
    font-size: 15px;
    @include media-min(tablet) {
        display: block;
    }
}

.students-modal-close-button__icon {
    fill: inherit;
    width: 14px;
    height: 14px;
    transition: fill 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.students-modal-close-button__icon:hover {
    fill: getColor(secondary-text-color)
}


.students-modal-close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    cursor: pointer;
    z-index: 111;
}

.swiper-button-prev,
.swiper-button-next {
  color: #FF6B08;
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
    .swiper-button-next,
    .swiper-button-prev {
     top: 80%;
    }
  
    .swiper-button-prev:after,
    .swiper-button-next:after {
    font-size: 10px;
    
  } }

.students-modal-on-dark-mode {
    background-color: #000000;
    fill: #FFFFFF;
    color: #FFFFFF;
}