
.pagination__list{
	display: flex;
	align-items: center;
}
.tui-page-btn {
	display: flex;
	font-size: 13px;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	width: 30px;
	height: 30px;
	background-color: white;
	text-decoration: none;
	color: black;
	text-decoration: none;
	&:not(:last-child){
		margin-right: 5px;
	}
	&:hover,:focus{
	background-color: orange;
	color: white;

	}
}
.tui-is-selected {
		display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	padding: 5px;
	background-color: orange;
	text-decoration: none;
	color: white;
}


.tui-ico-prev {
	position: relative;
	opacity: 1;
	color: transparent;
	&::before{
		content: '\2190';
		position: absolute;
		top: 0;
		left: 0;
		color: black;
		
	}
}

.tui-ico-next {
	position: relative;
	opacity: 1;
	color: transparent;
	&::before{
		content: '\2192';
		position: absolute;
		top: 0;
		left: 0;
		color: black;
		
	}
}
.tui-is-disabled {
}

.tui-ico-ellip {
}

.tui-first{
	display: none;
}
.tui-last{
	display: none;
}